html {
  font-family: 'Montserrat', Verdana, sans-serif;
  font-size: 10px;
  color: #ffffff;
  text-shadow: 0 0 5px #000000;
}

body {
  font-size: 1.6rem;
  background-image: url(./assets/img/background/overlay.png);
  background-size: cover;
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* width: 100vw; */
}

.wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* width: 100% */
  height: 150px;
  white-space: nowrap;
}

.wrapper header .info {
  /*  width: 160px; */
}

.wrapper header .info .city .weather-location {
  position: relative;
  outline: none;
}

.wrapper header .info .city .weather-location::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #ffffff;
}

.wrapper header .weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.wrapper header .weather .icon {
  display: inline;
  -webkit-filter: drop-shadow(0 0 5px #000000);
          filter: drop-shadow(0 0 5px #000000);
}

.wrapper main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.wrapper main .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9;
  font-size: 6rem;
  text-align: center;
}

.wrapper main .time span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  text-align: center;
}

.wrapper main .message {
  z-index: 9;
  margin: 10px 100px 20px;
  font-size: 4rem;
  white-space: wrap;
}

.wrapper main .message .name {
  position: relative;
  white-space: nowrap;
  outline: none;
}

.wrapper main .message .name::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #ffffff;
}

.wrapper main .todo {
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3rem;
}

.wrapper main .todo .focus {
  position: relative;
  outline: none;
}

.wrapper main .todo .focus::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #ffffff;
}

.wrapper footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  /* width: 100%; */
  height: 150px;
}

.wrapper footer .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin-bottom: 20px;
  font-size: 2rem;
}

.wrapper footer .quote .phrase {
  text-align: center;
}

.wrapper footer .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-filter: drop-shadow(0 0 5px #000000);
          filter: drop-shadow(0 0 5px #000000);
}

.wrapper footer .navigation .left,
.wrapper footer .navigation .right {
  display: block;
  width: 20px;
  height: 20px;
  border: 0;
  background-size: cover;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: transparent;
  cursor: pointer;
}

.wrapper footer .navigation .left:active, .wrapper footer .navigation .left:focus,
.wrapper footer .navigation .right:active,
.wrapper footer .navigation .right:focus {
  outline: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.wrapper footer .navigation .left {
  background-image: url(./assets/img/navigation/left.svg);
}

.wrapper footer .navigation .right {
  background-image: url(./assets/img/navigation/right.svg);
}

.wrapper footer .navigation .link {
  width: 30px;
  height: 30px;
  background-image: url(./assets/img/navigation/github.svg);
  background-size: cover;
  text-decoration: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.wrapper footer .navigation .link:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.wrapper footer .navigation .refresh {
  width: 30px;
  height: 30px;
  background-image: url(./assets/img/navigation/refresh.svg);
  background-size: cover;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

.wrapper footer .navigation .refresh:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.wrapper footer .navigation .request {
  -webkit-animation: rotation 0.5s infinite linear;
          animation: rotation 0.5s infinite linear;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media screen and (max-width: 768px) {
  .wrapper header {
    font-size: 1.4rem;
  }
  .wrapper main .time {
    font-size: 3rem;
  }
  .wrapper main .time span {
    width: 25px;
  }
  .wrapper main .message {
    margin: 10px 50px 20px;
    font-size: 2rem;
    white-space: wrap;
  }
  .wrapper main .todo {
    font-size: 1.5rem;
  }
  .wrapper footer .quote {
    font-size: 1.5rem;
  }
  .wrapper footer .navigation .left,
  .wrapper footer .navigation .right {
    width: 15px;
    height: 15px;
  }
  .wrapper footer .navigation .link {
    width: 20px;
    height: 20px;
  }
  .wrapper footer .navigation .refresh {
    width: 20px;
    height: 20px;
  }
}
/*# sourceMappingURL=style.css.map */